@charset "utf-8";
/* CSS Document */
.rslides {
  	position: relative;
  	list-style: none;
  	overflow: hidden;
  	width: 100%;
  	padding: 0;
  	margin: 0;
}
.rslides li {
  	-webkit-backface-visibility: hidden;
  	position: absolute;
  	display: none;
  	width: 100%;
  	left: 0;
  	top: 0;
}
.rslides li:first-child {
  	position: relative;
  	display: block;
  	float: left;
}
.rslides img {
  	display: block;
  	height: auto;
  	border: 0;
	width: 100%;
	position: relative;
	z-index: 1;
}
.rslides_tabs{
	background:none;
	text-align:center;
	z-index:10;
	position: absolute;
	bottom: 6%;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 100;
}
.rslides_tabs li{
	list-style:none;
	display: inline-block;
	vertical-align: top;
	width:12px;
	height: 12px;
	vertical-align:top;
	margin: 0 4px 0 0;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 2px solid rgba(255,255,255,0);
}
.rslides_tabs li:last-child{
	background: none;
}
.rslides_tabs li a{
	text-indent:-20000px;
	display:block;
	width:12px;
	height:12px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: rgba(255,255,255,.5);
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}
.rslides_tabs li.rslides_here a, .rslides_tabs li a:hover{
	background-color: rgba(255,255,255,1);
}
.rslides_nav{
	display: block;
}
.banner .prev{
	width:55px;
	height:104px;
	left:7%;
	top: 50%;
	margin-top: -52px;
	position:absolute;
	display:block;
	text-indent:-200000px;
	background:url(../images/banner_prev.png) no-repeat 0 0;
	z-index:100;
}
.banner .next{
	width:55px;
	height:104px;
	right:7%;
	top: 50%;
	margin-top: -52px;
	position:absolute;
	display:block;
	text-indent:-200000px;
	background:url(../images/banner_next.png) no-repeat 0 0;
	z-index:100;
}


