/** Stage container **/

.connected-carousels .stage {
    width: 800px;
    margin: 20px auto;
    position: relative;
}

.connected-carousels .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.connected-carousels .photo-credits a {
    color: #fff;
}

/** Navigation container **/

.connected-carousels .navigation {
    width: 260px;
    margin: 20px auto;
    position: relative;
}

/** Shared carousel styles **/

.connected-carousels .carousel {
    overflow: hidden;
    position: relative;
}

.connected-carousels .carousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.connected-carousels .carousel li {
    float: left;
}

/** Stage carousel specific styles **/

.connected-carousels .carousel-stage {
   /* height: 670px;*/
    /*border: 10px solid #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;*/
	
	/*display:inline-block;*/
}
/*.connected-carousels .carousel-stage ul li img{
	background:url("../images/gallery_bg.jpg") repeat scroll 0 0;
	padding:10px;
}*/

/** Navigation carousel specific styles **/

.connected-carousels .carousel-navigation {
    height: 60px;
    width: 240px;
    /*background: #fff;*/
    border: 10px solid rgba(208, 156, 76, 0.2);
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    /*-webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;*/
}

.connected-carousels .carousel-navigation li {
    cursor: pointer;
}

.connected-carousels .carousel-navigation li img {
    display: block;
    /*border: 5px solid #fff;*/
}

.connected-carousels .carousel-navigation li.active img {
    border-color: #0056b8;
}

/** Stage carousel controls **/

.connected-carousels .prev-stage,
.connected-carousels .next-stage {
    display: block;
    position: absolute;
    top: 36%;
    width: 90px;
	height:130px;
    color: #fff;
}

.connected-carousels .prev-stage {
    left: 0;
	background:url(../images/gallery_prev.png) no-repeat 0 0;
}

.connected-carousels .next-stage {
    right: 0;
	background:url(../images/gallery_next.png) no-repeat 0 0;
}

.connected-carousels .prev-stage.inactive,
.connected-carousels .next-stage.inactive {
    cursor:default;
	opacity:.4;
}

.connected-carousels .prev-stage span,
.connected-carousels .next-stage span {
    display: block;
    position: absolute;
    top: 35%;
    width: 24px;
    height: 47px;
    text-align: center;
   /* background: #4E443C;*/
    color: #fff;
	text-indent:-2000000px;
    text-decoration: none;
    /*text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;*/
}
.connected-carousels .prev-stage span{
	background:url(../images/prev-arrow.png) no-repeat 0 0;
}
.connected-carousels .next-stage span{
	background:url(../images/next-arrow.png) no-repeat 0 0;
}

.connected-carousels .prev-stage span {
    left: -70px;
}

.connected-carousels .next-stage span {
    right: -70px;
}

.connected-carousels .prev-stage:hover span,
.connected-carousels .next-stage:hover span {
    display: block;
}

/** Navigation carousel controls **/

.connected-carousels .prev-navigation,
.connected-carousels .next-navigation {
    display: block;
    position: absolute;
    width: 45px;
	height: 118px;
	top: 0;
    /*background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 16px/29px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;*/
	text-indent:-200000px;
	background-size:100% !important;
}

.connected-carousels .prev-navigation {
    background: url(../images/pro_prev.png) no-repeat;
	left: -61px;
}
.connected-carousels .prev-navigation:hover{
	background: url(../images/pro_prev_h.png) no-repeat;
}

.connected-carousels .next-navigation {
     background: url(../images/pro_next.png) no-repeat;
	right: -61px;
}
.connected-carousels .next-navigation:hover{
	background: url(../images/pro_next_h.png) no-repeat;
}

/*.connected-carousels .prev-stage span{
	background:url(../images/prev-arrow.png) no-repeat 0 0;
}
.connected-carousels .next-stage span{
	background:url(../images/next-arrow.png) no-repeat 0 0;
}*/

.connected-carousels .prev-navigation.inactive,
.connected-carousels .next-navigation.inactive {
    opacity: .5;
    cursor: default;
}
