@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 2700px) {

.about-back{
		background-size: cover;
	}
	.about-pic {
    margin: 88px 92px 0 0;
}
}

@media screen and (max-width: 2000px) {
/*
	body{
		border: 1px solid black;
	}
*/
	.bottom-contact, .testimonial{
		background-size: auto; 
	}
	
}
@media screen and (max-width: 1800px) {
/*
	body{
		border: 1px solid red;
	}
*/
	.banner.inner-banner .rslides .wrapper {
    	bottom: 20%;
	}
}
@media screen and (max-width: 1700px) {
/*
	body{
		border: 1px solid blue;
	}
*/
	/*.header{
		position: static;
	}*/
	.banner .rslides .wrapper{
		bottom: 22%;
	}
	.rslides_tabs{
		bottom: 15px;
	}
	.banner.inner-banner .rslides .wrapper {
    	bottom: 30%;
	}
}
@media screen and (max-width: 1450px) {
/*
	body{
		border: 1px solid pink;
	}
*/
	.banner .rslides .wrapper{
		bottom: 20%;
	}
	.about-gallery li{
		width: 25%;
	}
	.about-gallery li .block{
		margin: 6px;
	}
}
@media screen and (max-width: 1400px) {
/*
	body{
		border: 1px solid black;
	}
*/
	.banner.inner-banner .rslides .wrapper {
    	bottom: 29%;
	}
}
@media screen and (max-width: 1365px) {
/*
	body{
		border: 1px solid red;
	}
*/
	.bottom-contact, .testimonial{
		background-position: center center !important;
		background-attachment: inherit;
		background-size: cover;
	}
}
@media screen and (max-width: 1280px) {
	/*body{
		border: 1px solid yellow;
	}*/
	.banner .rslides .wrapper{
		bottom: 18%;
	}
}
@media screen and (max-width: 1250px) {
/*
	body{
		border: 1px solid blue;
	}
*/
	.wrapper{
		margin: 0 2%;
		width: auto;
	}
	.top-info li{
		font-size: 15px;
	}
	.nav li a {
    	padding: 64px 14px 26px;
	}
	.banner .rslides .wrapper{
		position: relative;
		z-index: 10;
		margin: 0;
		background: url(../images/contact_form_bg.jpg) repeat 0 0;
	}
	.banner-cont{
		width: auto;
		background-color: transparent;
		padding: 67px 2% 110px;
	}
	.banner h1, .banner p{
		color: #FFF;
	}
	.banner p span{
		color: #000;
		display: block;
	}
	.banner .btn{
		background-color: #FFF;
		color: #046402;
	}
	.banner .btn:hover{
		color: #FFF;
	}
	.rslides_tabs {
    	bottom: 70px;
	}
	.home-products ul, .product-section .product-blocks ul{
		text-align: center;
	}
	.home-products ul li{
		width: 30%;
		margin: 0 38px 70px 0;
		float: none;
		display: inline-block;
		vertical-align: top;
	}
	.product-section .product-blocks ul li{
		width: 46.9%;
		margin: 0 38px 70px 0;
		float: none;
		display: inline-block;
		vertical-align: top;
	}
	.contact-info ul li{
		width: 20%;
		max-width: inherit;
		text-align: center;
	}
	.bottom-info li{
		
	}
	.contact-info ul li img{
		float: none;
		margin: 0 auto 10px;
	}
	.bottom-info li img{
		
	}
	.bottom-info li p, .contact-info ul li p{
		word-break: break-all;
	}
	.contact-form {
    	width: 45.5%;
	}
	.banner.inner-banner .rslides .wrapper{
		position: absolute;
		background: none;
		margin: 0 2%;
	}
	.about-text{
		width: 58%;
	}
.about-pic {
    margin: 100px 50px 0 0;
    width: 31%;
    border: 14px solid #FFF;
}

.logo{
	margin: 25px 0 11px 0;
	width: 370px;
}
.navigation{
	margin:0;
}
.header{
	width:auto;
	margin:0 2%;
}
.search {
    bottom: 25px;
}
.product-right{
		width: 315px;
	}
	.product-left{
		width: 70%;
	}
}
@media screen and (max-width: 1200px) {
/*
	body{
		border: 1px solid pink;
	}
*/
	.logo {
		margin: 27px 0 10px;
		width: 320px;
	}
	.banner.inner-banner .rslides .wrapper{
		bottom: 27%;
	}
	
	.quotebx {
    	width: 55%;
		margin-bottom: 30px;
	}
	.product-right {
    width: 295px;
}
}
@media screen and (max-width: 1150px) {
/*
	body{
		border: 1px solid green;
	}
*/
	.top-info li{
		font-size: 14px;
		margin: 0 14px 0 0;
	}
	.product-left{
		width: 68%;
	}
	.pro-slider .connected-carousels .carousel-navigation, .pro-slider .connected-carousels .navigation{
		width: 454px !important;
	}
	.pro-slider, .pro-slider .connected-carousels .carousel li{
		width: 576px;
	}
	.pro-slider .connected-carousels .stage{
		width: 576px !important;
	}
	.pro-slider .connected-carousels .carousel-navigation li{
		width: 138px;
	}

.product-right {
    width: 295px;
}
}
@media screen and (max-width: 1100px) {
/*
	body{
		border: 1px solid orange;
	}
*/
	.top-info li{
		margin: 0 12px 0 0;
	}
	.banner.inner-banner .rslides .wrapper{
		bottom: 25%;
	}
	.product-left {
		width: 66%;
	}
.product-section .product-blocks ul li {
    width: 46.5%;
}

}
@media screen and (max-width: 1024px) {
/*
	body{
		border: 1px solid purple;
	}
*/

.header{
	width: auto;
	border-radius:0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin:0;
}
.search {
    bottom: 36px;
}
	.top-header {
    	padding: 8px 0 6px;
	}
	.top-info{
		float: none;
		text-align: center;
	}
	.top-info li{
		display: inline-block;
		vertical-align: top;
		margin: 0 8px 0 0;
		float: none;
	}
	.top-info li:last-child{
		margin: 0;
	}
	.top-info li.time p{
		padding: 0 0 0 22px;
	}
	.top-info li.call p{
    	padding: 0 0 0 17px;
	}
	.top-info li.addrs p{
    	padding: 0 0 0 14px;
	}
	.top-social{
		float: none;
		text-align: center;
		padding: 5px 0 0;
	}
	.top-social li{
		float: none;
		display: inline-block;
		vertical-align: top;
		margin: 0 3px 0 0;
	}
	.logo {
		margin: 10px 0;
		width: 300px;
	}
.responsive {
    display: block;
    padding: 0 0 0 0px;
}
	.navigation{
		padding: 32px 0 0;
		position: static;
		margin: 0;
	}
	.nav{
		display:none;
		overflow:hidden;
		opacity:0;
		min-height:0;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		transition: none;
		-webkit-transform-style: preserve-3d;
		position:absolute;
		top:81px;
		left:0;
		right:0;
		background:rgba(4,100,2,.9);
		-webkit-box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
		box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
	}
	.flexnav-show{
		max-height: 2000px;
		overflow:visible !important;
        opacity: 1 !important ;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-ms-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
		display:block !important;
		z-index:1000;
	}
	.nav > li{
		float:none;
		margin:0 !important;
		text-align:center;
		border-bottom:1px solid #326c31;
		border-right:none;
		background: none;
		padding: 0;
		display: block;
		border-left: none !important;
	}
	.nav li.parent-dropdown a span{
		display: none;
	}
	.nav > li:last-child{
		border-bottom: none;
	}
	.nav li a{
		padding:10px !important;
		display:block;
		margin: 0;
		color: #FFF;
		background-image: none;
	}
	.nav li a:after, .nav li a:before{
		display: none !important;
	}
	.nav li a:hover, .nav li a.active{
		color: #000;
	}
	.nav li.parent-dropdown a{
		background:url(../images/dropdown_ar_dwn.png) no-repeat 98% 16px;
	}
	.nav li.parent-dropdown a:hover{
		background:url(../images/dropdown_ar_dwn.png) no-repeat 98% 16px;
	}
	.nav li.parent-dropdown a.active{
		background:url(../images/dropdown_ar_dwn.png) no-repeat 98% 16px;
	}
	.nav li.parent-dropdown a.parent-active{
		background:url(../images/dropdown_ar_up.png) no-repeat 98% 16px;
	}
	.nav li.parent-dropdown a.active.activeurl{
		background:url(../images/dropdown_ar_up.png) no-repeat 98% 16px;
	}
	.nav li ul{
		position:static;
		width:auto;
		border:none;
		right: 0;
		text-align: center;
		background-color: #FFF;
		box-shadow: none;
	}
	.nav li ul li{
		font-size: 16px;
		line-height: 22px;
		border-bottom: 1px solid #f0f0f0;
	}
	.nav li ul li a{
		background-image:none !important;
		color: #155ac2;
		padding: 10px !important;
	}
	.nav li ul li a:hover, .nav li ul li a.active{
		color:#000;
	}
	.banner h1{
		font-size: 30px;
		margin: 0 0 12px;
	}
	.banner p{
		font-size: 16px;
		margin: 0 100px 15px;
	}
	.banner .btn, .view-btn{
		font-size: 16px;
		line-height: 48px;
		padding: 0 30px;
	}
	.rslides_tabs {
		bottom: 50px;
	}
	.banner-cont {
		padding: 46px 2% 85px;
	}
	.home-products h2, .gallery-section h2, .about-section h2, .contact-info h2, .gallery-images h2, .product-form h2{
		font-size: 60px;
		line-height: 60px;
		padding: 0 0 15px;
		margin: 0 0 50px;
	}
	.about-section h3, .our-story h3{
		font-size: 45px;
		line-height: 50px;
		font-weight: normal;
		color: #028800;
		margin: 0 0 15px 0;
	}
	.home-products{
		padding: 70px 0;
	}
	.home-products ul li{
    	width: 31%;
		margin: 0 26px 50px 0;
	}
	.product-section .product-blocks ul li {
		width: 47%;
		margin: 0 26px 50px 0;
	}
	.home-products ul li p, .product-section .product-blocks ul li p {
		font-size: 16px;
		line-height: 24px;
		margin: 0 0 15px;
	}
	.home-products ul li .detail, .product-section .product-blocks ul li .detail{
		padding: 34px 20px;
	}
	.bottom-contact h2 {
		font-size: 50px;
		line-height: 50px;
	}
	.bottom-contact{
		padding: 70px 0;
	}

	.bottom-info li p, .contact-info ul li p{
		font-size: 16px;
	}
	.footer {
    	padding: 60px 0 34px;
	}
	.ftlogo{
		top: -85px;
	}
	.banner.inner-banner h1 {
		font-size: 60px;
		line-height: 60px;
		padding: 0 95px;
	}
	.banner.inner-banner h1::after, .banner.inner-banner h1::before {
		width: 80px;
		background-size: 100% !important;
	}
	.banner.inner-banner .rslides .wrapper {
		bottom: 30%;
	}
	.contact-info {
    	padding: 70px 0;
	}
	.contact-form h2 {
		font-size: 50px;
		line-height: 50px;
		padding: 0 0 30px;
		margin: 0 0 20px;
	}
	.contact-form h2 span{
		font-size: 15px;
	}
	.contact-form-section {
    	padding: 70px 0;
	}
	.contact-form label {
		font-size: 16px;
		line-height: 22px;
		margin: 0 0 5px;
	}
	.contact-form input[type="text"]{
		height: 45px;
	}
	.contact-form textarea{
		height: 80px;
		padding: 12px 0;
	}
	.captcha{
		margin: 20px 0;
	}
	.contact-form input[type="submit"]{
		font-size: 16px;
		height: 48px;
		padding: 0 30px;
	}
	.gallery-images .about-gallery {
		margin: -44px 0 -46px;
	}
	.about-gallery{
		padding: 45px 4px 50px;
	}
	.about-gallery li .block{
		margin: 4px;
	}
	.gallery-images .about-gallery li .block {
		margin: 4px;
	}
	.about-gal-textwrap{
		border-width: 8px !important;
	}
	.about-gal-text{
		padding: 12px 15px 15px;
	}
	.about-gal-text p{
		font-size: 12px;
		line-height: 16px;
		margin: 0 0 5px;
	}
	.about-gal-text .btn{
		padding: 0 20px;
	}
	.product-form{
		padding: 40px 0;
	}
	.product-form label{
		font-size: 16px;
	}
	.product-section h2{
		font-size: 50px;
		line-height: 50px;
		margin: 0 0 25px;
	}
	.view-pro-btn{
		margin: 0;
	}
	.product-section{
		padding: 70px 0 20px;
	}
	.product-blocks{
		padding: 0;
	}
	.product-section p {
		font-size: 16px;
		line-height: 24px;
		margin: 0 0 20px;
	}
	.product-section ul{
		margin: 0 0 20px;
	}
	.product-section ul li{
		font-size: 16px;
		line-height: 24px;
	}
	.pro-slider{
		padding: 8px 0 25px;
	}
	.product-section .view-btn{
		margin: 10px 0 50px;
	}
	.product-right h4 {
		font-size: 18px;
		line-height: 24px;
		padding: 12px 15px;
	}
	.product-section ul.pro-category{
		padding: 10px 15px 15px;
	}
	.product-section ul.pro-category li {
		padding: 0 0 0 0;
		background-position: 3px 12px;
	}
	.about-text h6 {
		font-size: 22px;
		line-height: 30px;
		margin: 0 0 20px;
	}
.about-text p, .our-story p{
    font-size: 22px;
    line-height: 30px;
}
	.about-section{
		padding: 62px 0 64px;
	}
	.about-pic {
		margin: 40px 30px 0 0;
		width: 31%;
		border: 10px solid #FFF;
	}
	.about-text{
		width: 59%;
	}
		.about-back {
			width: 32%;
			top: 146px;
		}
	.testimonial p {
		margin: 0 30px 20px;
		font-size: 22px;
		line-height: 30px;
		padding: 30px 0 0;
		background-size: 30px;
	}
	.testimonial h6 {
		font-size: 22px;
		line-height: 26px;
	}
	.testimonial, .gallery-section{
		padding: 70px 0;
	}
	.gallery-section h2{
		padding: 0 0 25px;
		margin: 0;
	}
	.bottom-contact h2 {
    font-size: 44px;
    line-height: 48px;
}

.about-text p, .our-story p{
	margin-bottom:15px;
}


.threestack .three:last-child ul li a{
	width:100%;
}
.threestack .three:last-child ul li a p {
    line-height: 42px;
    font-size: 13px;
}
.product-right {
    margin: 0;
}
}
@media screen and (max-width: 1000px) {
/*
	body{
		border: 1px solid gray;
	}
*/
	.top-info li{
		display: block;
		margin: 0;
	}
	.top-info li p{
		display: inline-block;
		vertical-align: top;
	}

	.about-gallery li {
		width: 33.3333%;
	}
	.about-gallery {
		padding: 55px 4px 60px;
	}
	.gallery-images .about-gallery {
		margin: -54px 0 -56px;
	}
	.product-left{
		width: auto;
		float: none;
		overflow: hidden;
		padding: 2px 0 0;
	}
	.product-right{
		width: auto;
		float: none;
		margin: 0 0 50px;
	}
	.pro-slider{
		margin: 0 auto;
	}
	.quotebx{
		width:auto;
		float: none;
	    margin: 25px 0;
	}
	.our-story .qtobxinr p {
		font-size: 22px;
		line-height: 29px;
	}
	
	.quotebx:before {
    width: 53px;
    height: 34px;
}
.quotebx:after{
	width: 53px;
    height: 40px;
}
.quotebx {
    padding: 40px 0;
}
.product-section .product-blocks ul li {
    width: 48%;
    margin: 0 26px 50px 0;
}
.product-section .product-blocks ul li .image img{
	width:100%;
}
}
@media screen and (max-width: 950px) {
/*
	body{
		border: 1px solid brown;
	}
*/
	.home-products ul li{
		width: 30.8%;
	}

	.about-text {
		width: auto;
		float: none;
		overflow: hidden;
		margin: 0 0 34px;
	}
	.about-pic {
		margin: 0 auto;
		width: 300px;
		float: none;
	}
	.about-back {
		width: auto;
		height: 500px;
		left: 0;
		top: auto;
		bottom: 0;
		background-size: cover !important;
	}
	.about-section {
		padding: 62px 0 230px;
	}
	.about-section .view-btn{
		display:none;
	}
	.about-section .view-btn.res{
		display: inline-block;
	}
	.our-story {
    	margin: 62px 0 0 0;
	}
	
}
@media screen and (max-width: 900px) {
/*
	body{
		border: 1px solid black;
	}
*/
	.home-products ul li, .product-section .product-blocks ul li{
		width: 47.5%;
		display: block;
		float: left;
		margin: 0 0 50px;
	}
	.home-products ul li:nth-child(2n), .product-section .product-blocks ul li:nth-child(2n){
		float: right;
	}
	.contact-info ul li{
		width: 49.8%;
		margin: 0;
		padding: 15px 0 10px;
		border-top: 1px solid rgba(255,255,255,.4);
	}
	.threestack .three:last-child ul li a p {
		line-height: 42px;
		font-size: 12px;
	}
	.bottom-info li{
		
	}
	.contact-info ul li{
		border-top: 1px solid #999;
	}
	.bottom-info li:nth-child(2n), .contact-info ul li:nth-child(2n){
		border-right: none;
	}
	.bottom-info li:first-child, .bottom-info li:nth-child(2), .contact-info ul li:first-child, .contact-info ul li:nth-child(2){
		border-top: none;
		padding-top: 0;
	}
	.bottom-info li:last-child, .bottom-info li:nth-last-child(2), .contact-info ul li:last-child, .contact-info ul li:nth-last-child(2){
		padding-bottom: 0;
	}
	.contact-pic{
		position: static;
		height: 400px;
		width: auto;
	}
	.contact-form-section{
		padding: 0;
	}
	.contact-form {
		width: auto;
		float: none;
		padding: 70px 0;
	}
	.bottom-info li p, .contact-info ul li p{
		margin: 0 10px;
	}
	.fancybox-wrap{
		width: 94% !important;
	}

}
@media screen and (max-width: 850px) {
/*
	body{
		border: 1px solid red;
	}
*/


.threestack .three {
    width: auto;
    float: none;
    margin: 0 0 20px;
    border-right: none;
    border-bottom: 1px solid #3d953c;
    height: inherit !important;
    padding: 0 0 20px;
}
.threestack .three:last-child{
	border-bottom:0;
	margin-bottom:0;
	padding-bottom:0;
}
.threestack .three .innerpadding {
    padding: 0;
}
	.banner.inner-banner .rslides .wrapper {
		bottom: 25%;
	}
	.pro-form-field {
		width: auto;
		float: none;
		margin: 0 0 15px;
		overflow: hidden;
	}
	.product-form label{
		width: 90px;
	}
	.pro-form-select select{
		width: 100%;
	}
	.product-form input[type="submit"]{
		width: auto;
		float: right;
		padding: 0 30px;
	}
}
@media screen and (max-width: 800px) {
/*
	body{
		border: 1px solid yellow;
	}
*/
}
@media screen and (max-width: 768px) {
/*
	body{
		border: 1px solid blue; 
	}
*/
.search-container input[type="text"] {
    width: 265px;
}
.about-section h3, .our-story h3{
    font-size: 40px;
    line-height: 50px;
    margin: 0 0 5px 0;
}
}
@media screen and (max-width: 700px) {
/*
	body{
		border: 1px solid pink;
	}
*/
	.ftnav li{
		margin: 0 5px 0 0;
	}
	.about-gallery li {
		width: 50%;
	}
	.about-gallery {
		padding: 55px 4px 67px;
	}
	.gallery-images .about-gallery {
		margin: -54px 0 -63px;
	}
}
@media screen and (max-width: 650px) {
/*
	body{
		border: 1px solid green;
	}
*/
	.pro-slider .connected-carousels .carousel-navigation, .pro-slider .connected-carousels .navigation{
		width: 384px !important;
	}
	.pro-slider .connected-carousels .carousel-navigation{
		height: 110px !important;
	}
	.pro-slider, .pro-slider .connected-carousels .carousel li{
		width: 480px;
	}
	.pro-slider .connected-carousels .carousel li{
		height: 270px;
	}
	.pro-slider .connected-carousels .stage{
		width: 480px !important;
	}
	.pro-slider .connected-carousels .carousel-navigation li{
		width: 120px;
		height: 100px;
		margin: 0 12px 0 0;
	}
	.connected-carousels .prev-navigation, .connected-carousels .next-navigation{
		width: 38px;
		height: 100px;
	}
	.connected-carousels .next-navigation{
		right: -48px;
	}
	.connected-carousels .prev-navigation{
		left: -48px;
	}
}
@media screen and (max-width: 600px) {
/*
	body{
		border: 1px solid orange;
	}
*/
	.wrapper{
		margin: 0 3%;
	}
	.about-text p, .our-story p{
    font-size: 18px;
    line-height: 26px;
}
	.top-info li{
		font-size: 12px;
		line-height: 18px;
	}
	.top-info li.time p {
		padding: 0 0 0 16px;
		background-size: 12px;
		background-position: 0 2px;
	}
	.top-info li.call p {
		padding: 0 0 0 15px;
		background-size: 10px;
	}
	.top-info li.addrs p {
		padding: 0 0 0 12px;
		background-size: 8px;
	}
	.logo {
		width: 240px;
		margin: 6px 0;
	}
	.navigation {
    	padding: 22px 0 0;
	}
	.nav{
		top: 60px;
	}
	.banner h1 {
		font-size: 26px;
		margin: 0 0 10px;
		line-height: 30px;
	}
	.banner p {
		margin: 0 0px 15px;
	}
	.banner .btn, .view-btn {
		font-size: 15px;
		line-height: 42px;
		padding: 0 20px;
	}
	.banner-cont {
		padding: 36px 3% 75px;
	}
	.home-products h2, .gallery-section h2, .about-section h2, .contact-info h2, .gallery-images h2, .product-form h2{
		font-size: 44px;
		line-height: 44px;
		padding: 0 0 12px;
		margin: 0 0 40px;
		background-size: 130px;
	}
	.home-products ul li, .product-section .product-blocks ul li {
		width: 47%;
		margin: 0 0 40px;
	}
	.rslides_tabs {
		bottom: 40px;
	}
	.home-products{
		padding: 40px 0;
	}
	.bottom-contact{
		padding: 40px 0 70px;
	}
	.bottom-contact h2 {
		font-size: 40px;
		line-height: 40px;
	}
	.contact-info ul li{
		display: block;
		width: auto;
		border: none !important;
		padding: 0 !important;
		float: none !important;
		height: auto !important;
		margin: 0 0 15px;
	}
	.bottom-info li{
		
	}
	.bottom-info li:last-child, .contact-info ul li:last-child{
		margin: 0;
	}

	.contact-info{
		padding: 40px 0 33px;
	}
	.banner.inner-banner h1 {
		font-size: 44px;
		line-height: 44px;
		padding: 0;
	}
	.banner.inner-banner h1::after, .banner.inner-banner h1::before{
		display: none;
	}
	.banner.inner-banner .rslides .wrapper {
		bottom: 20%;
	}
	.contact-pic{
		height: 340px;
	}
	.contact-form h2 {
		font-size: 44px;
		line-height: 44px;
		background-size: 130px;
		padding: 0 0 25px;
	}
	.contact-form input[type="submit"]{
		font-size: 15px;
		height: 42px;
		padding: 0 20px;
	}
	.contact-form{
		padding: 40px 0;
	}
	.contact-map {
		height: 330px;
	}
	.product-form {
		padding: 30px 0;
	}
	.product-form input[type="submit"]{
		font-size: 15px;
		padding: 0 20px;
	}
	.product-section {
		padding: 40px 0 0px;
	}
	.product-section h2 {
		font-size: 44px;
		line-height: 44px;
	}
	.view-pro-btn {
		font-size: 13px;
		line-height: 34px;
		padding: 0 12px;
	}
	.product-section h2{
		margin: 0 0 15px;
	}
	.product-section .view-btn {
		margin: 0px 0 40px;
	}
	.product-right{
		margin: 0 0 40px;
	}
	.about-text h6 {
		font-size: 18px;
		line-height: 26px;
		margin: 0 0 15px;
	}
	.about-section {
		padding: 33px 0 40px;
	}
	.about-pic{
		width: 270px;
		border-width: 6px;
	}
	.about-back{
		height: 280px;
	}
	.about-text{
		margin: 0 0 26px;
	}
	.testimonial p {
		margin: 0 0px 20px;
		font-size: 18px;
		line-height: 26px;
		padding: 26px 0 0;
		background-size: 26px;
	}
	.testimonial h6 {
		font-size: 18px;
		line-height: 24px;
	}
	.testimonial, .gallery-section{
		padding: 40px 0;
	}
	.gallery-section h2{
		padding: 0 0 22px;
		margin: 0;
	}
	.fancybox-nav span {
		width: 26px;
		height: 50px;
		background-size: 15px !important;
	}
	.fancybox-nav{
		width: 26px;
		height: 50px;
		margin-top: -25px;
	}
	.fancybox-next span{
		background-position: 8px center !important;
	}
	.fancybox-prev span{
		background-position: 3px center !important;
	}
	.fancybox-skin{
		padding: 6px;
	}
	.fancybox-close {
		top: -10px;
		right: -6px;
		width: 30px;
		height: 30px;
	}
	.banner{
		height: 175px;
	}
	.search-container input[type="text"] {
    width: 210px;
}
.our-story .qtobxinr p {
    font-size: 20px;
    line-height: 25px;
}
.our-story {
    padding-bottom: 37px;
}
.loading {
    margin: 43px 0 60px 0;
}
.product-blocks .view-pro-btn, .product-section .product-blocks h2{
	float: none;
}
.product-blocks .view-pro-btn {
    display: inline-block;
    margin: 0 0 20px 0;
}
.product-section .product-blocks h2 {
    margin-bottom: 20px;
}
.pro-breadcrumb li.active{
	margin: 0 20px 0 0px;
}
.pro-breadcrumb li.active, .pro-breadcrumb li{
	font-size:13px;
	line-height: 30px;
	
}
.pro-breadcrumb li.active:after {
    content: '';
    height: 30px;
    right: -13px;
    background-size: 10px !important;
}
}
@media screen and (max-width: 550px) {
/*
	body{
		border: 1px solid purple;
	}
*/


.about-section h3 {
    font-size: 30px;
    line-height: 40px;
}

.home-products ul li .image img, .product-section .product-blocks ul li .image img{
	width:100%;	
}
	.home-products ul li, .product-section .product-blocks ul li{
		width: auto;
		float: none !important;
		height: auto !important;
	}
	.ftnav li{
		display: block;
		margin: 0;
	}
	.ftnav li:nth-child(2n){
		display: none;
	}
	.ftnav{
		padding: 0 0 5px;
	}
	.pro-slider .connected-carousels .carousel-navigation, .pro-slider .connected-carousels .navigation {
		width: 252px !important;
	}
	.pro-slider, .pro-slider .connected-carousels .carousel li {
		width: 348px;
	}
	.pro-slider .connected-carousels .stage{
		width: 348px !important;
	}
	.pro-slider .connected-carousels .carousel-navigation li {
		width: 120px;
		height: 100px;
	}
}
@media screen and (max-width: 480px) {
/*
	body{
		border: 1px solid gray;
	}
*/
}
@media screen and (max-width: 450px) {
/*
	body{
		border: 1px solid brown;
	}
*/
	.contact-pic {
		height: 300px;
	}
	.about-gallery li {
		width: auto;
		float: none;
	}
	.about-gallery{
		padding: 4px 4px 0;
	}
	.gallery-images .about-gallery{
		margin: 0;
	}
	.about-gallery li:hover{
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
	.gallery-images .about-gallery li .block{
		margin: 4px 4px 8px;
	}
	.about-gal-text p {
		font-size: 16px;
		line-height: 22px;
		margin: 0 0 8px;
	}
	.about-gal-text .btn{
		font-size: 13px;
		line-height: 35px;
		padding: 0 25px;
	}
	.about-gal-text {
		padding: 15px 15px 20px;
	}
	.about-gal-textwrap{
		border: none !important;
	}
	.about-gallery li:hover .block {
		box-shadow: none;
	}
	.product-form label {
		width: auto;
		float: none;
		line-height: 22px;
		margin: 0 0 5px;
	}
	.product-form{
		padding: 22px 0 30px;
	}
	.gallery-section h2{
		margin: 0 0 30px;
	}
	.gallery-section .view-btn{
		margin: 35px 0 0;
	}
}
@media screen and (max-width: 400px) {
/*
	body{
		border: 1px solid black;
	}
*/
	.banner.inner-banner .rslides .wrapper {
		bottom: 16%;
	}
	.contact-pic {
		height: 270px;
	}
	.pro-slider .connected-carousels .carousel-navigation, .pro-slider .connected-carousels .navigation{
		width: 210px !important;
	}
	.pro-slider .connected-carousels .carousel-navigation{
		height: 90px !important;
	}
	.pro-slider, .pro-slider .connected-carousels .carousel li{
		width: 290px;
	}
	.pro-slider .connected-carousels .carousel li{
		height: 160px;
	}
	.pro-slider .connected-carousels .stage{
		width: 290px !important;
	}
	.pro-slider .connected-carousels .carousel-navigation li{
		width: 100px;
		height: 80px;
		margin: 0 10px 0 0;
	}
	.connected-carousels .prev-navigation, .connected-carousels .next-navigation{
		width: 30px;
		height: 80px;
	}
	.connected-carousels .next-navigation{
		right: -40px;
	}
	.connected-carousels .prev-navigation{
		left: -40px;
	}
}
@media screen and (max-width: 350px) {
/*
	body{
		border: 1px solid red;
	}
*/
	.banner.inner-banner .rslides .wrapper {
		bottom: 12%;
	}
}
@media screen and (max-width: 300px) {
/*
	body{
		border: 1px solid yellow;
	}
*/
}


