@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}
@font-face {
  font-family: 'Papyrus-Regular';
  src:url('../fonts/Papyrus-Regular.eot?#iefix') format('embedded-opentype'),  
	  url('../fonts/Papyrus-Regular.woff') format('woff'), 
	  url('../fonts/Papyrus-Regular.ttf')  format('truetype'), 
	  url('../fonts/Papyrus-Regular.svg#Papyrus-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body{
	font-family: 'Nunito Sans', sans-serif;
	font-size:18px;
	color:#222323;
	-webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
	-moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */
}
img{
	display:block;
	border:none;
	outline:none;
}
ul{
	list-style:none;
}
input:focus, textarea:focus, select:focus{
	outline:none;
}
textarea{
	overflow:auto;
}
input[type=text], input[type=password], input[type=submit], input[type=reset], textarea, select{
	-webkit-appearance:none;
	border-radius:0;
}
a{
	color:#000;
}
a, a:hover{
	text-decoration:none;
	outline:none;
}
.clear{
	clear:both;
	font-size:0;
	line-height:0;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Sacramento', cursive;
}
.wrapper{
	width:1200px;
	margin:0 auto;
}
.hidden{
	opacity: 0;
}
.visible{
	opacity: 1;
}


/*header section start*/
.top-header{
	padding: 12px 0;
	overflow: hidden;
	background: url(../images/top_info_bg.jpg) repeat 0 0;
}
.top-info{
	float: left;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.top-info li{
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
	float: left;
	color: #FFF;
	margin: 0 30px 0 0;
}
.top-info li:last-child{
	margin: 0;
}
.top-info li.time p{
	padding: 0 0 0 22px;
	background: url(../images/top_info_icon1.png) no-repeat 0 3px;
}
.top-info li.call p{
	padding: 0 0 0 25px;
	background: url(../images/top_info_icon2.png) no-repeat 0 4px;
}
.top-info li.addrs p{
	padding: 0 0 0 20px;
	background: url(../images/top_info_icon3.png) no-repeat 0 3px;
}
.top-social{
	float: right;
	margin: 1px 0 0 0 ;
	padding: 0;
	overflow: hidden;
}
.top-social li{
	float: left;
	margin: 0 7px 0 0;
}
.top-social li:last-child{
	margin: 0;
}
.top-social li a{
	width: 22px;
	height: 22px;
	display: block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.top-social li a.fb{
	background: url(../images/top_fb.png) no-repeat 0 0;
}
.top-social li a.insta{
	background: url(../images/top_insta.png) no-repeat 0 0;
}
.top-social li a.pint{
	background: url(../images/top_pint.png) no-repeat 0 0;
}
.top-social li a:hover{
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,.88);
    z-index: 1000;
    width: 1200px;
    margin: 0 auto;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.logo{
	float: left;
	margin: 25px 0 11px 52px;
	width: 429px;
}
.navigation{
	position: relative;
	float: right;
	margin: 0 30px 0 0px;
}
.nav{
	padding: 0;
	margin: 0;
}
.nav li{
	font-size: 17px;
	line-height: 22px;
	text-transform: uppercase;
	position: relative;
	float: left;
	font-weight: 600;
}
.nav li a{
	display: block;
	color: #000;
	padding: 73px 23px 35px;
	background: url(../images/nav_leaf_icon.png) no-repeat center 42px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-weight:700;
}
.nav li a:hover, .nav li a.active{
	color: #005b04;
}
.nav li ul{
	position: absolute;
	top: 83px;
	left: 0;
	width: 263px;
	background-color: #40bc49;
	border: 1px solid #FFF;
	display: none;
	text-align: left;
	-webkit-box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.15);
}
.nav li ul li{
	float: none;
	margin: 0 !important;
	text-transform: none;
	border-bottom: 1px solid #66c96d;
	display: block;
	font-family: 'ProximaNovaSemibold';
}
.nav li ul li:last-child{
	border-bottom: none;
}
.nav li ul li a{
	padding: 17px 15px 17px 39px;
	margin: 0;
	color: #FFF;
	display: block;
	background: url(../images/submenu_ar.png) no-repeat 25px 24px;
	border-right: none;
}
.nav li ul li a:hover, .nav li ul li a.active{
	color: #2d2d2d;
	background: url(../images/submenu_ar_h.png) no-repeat 25px 24px #FFF;
}
.nav li ul li a:before{
	display: none !important;
}
.responsive{
	width:26px;
	display:none;
	float:right;
	cursor:pointer;
	display:none;
	position:relative;
	height:18px;
}
.responsive span{
	background-color:#046402;
	height:4px;
	display:block;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
	position:relative;
	margin:7px 0;
}
.responsive span:before, .responsive span:after{
	background-color:#046402;
	height:100%;
	width:100%;
	left:0;
	right:0;
	display:block;
	content:'';
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	position:absolute;
	transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}
.responsive span:before{
	top:-7px;
}
.responsive span:after{
	top:7px;
}
.responsive.active span::before {
	top: 0;
	transform: rotate(45deg);
}
.responsive.active span::after {
	top: 0;
	transform: rotate(-45deg);
}
.responsive.active span {
	background-color:transparent;
}

.search {
    position: absolute;
    bottom: 16px;
    z-index: 100;
    left: 0;
    right: 0;
	
}
.search-container {
    float: right;
    padding: 8px 18px 8px 24px;
    background-color: rgba(0,0,0,.65);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    border: 2px solid #fff;
}
.search-container:after {
    width: 17px;
    height: 17px;
    position: absolute;
    right: 18px;
    top: 10px;
    bottom: 0;
    background: url(../images/magnify_glass.png) no-repeat 0 0;
    content: '';
}
.search-container input[type="text"]{
	width:375px;
	background-color: transparent;
	border:none;
	color:#fff;
	font-family: 'Nunito Sans', sans-serif;
	font-size:16px;
}

/*header section end*/


/*banner section start*/
.banner{
	position: relative;
	border-bottom: 3px solid #FFF;
	height:204px;
	background:url(../images/slider1.jpg) no-repeat center center;
	background-size: cover !important;
}

.banner .rslides .wrapper{
	bottom: 16%;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 100;
}
.banner-cont{
	width: 752px;
	margin: 0 auto;
	padding: 27px 15px 19px;
	background-color: rgba(255,255,255,.75);
	overflow: hidden;
	text-align: center;
}
.banner h1{
	font-family: 'Oswald', sans-serif;
	color: #000;
	font-size: 33px;
	line-height: 34px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0 0 13px;
}
.banner p{
	line-height: 24px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	margin: 0 100px 13px;
}
.banner p span{
	color: #27910e;
}
.banner .btn{
	font-size: 17px;
	font-weight: 800;
	color: #FFF;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
	line-height: 54px;
	padding: 0 38px;
	background-color: #177a15;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.banner .btn:hover{
	background-color: #000;
}


/*banner section end*/


/*content section start*/
.home-products{
	padding: 53px 0;
	overflow: hidden;
	text-align: center;
	background: url(../images/home_pro_bg.jpg) repeat 0 0;
}
.home-products h2, .gallery-section h2, .about-section h2, .contact-info h2, .gallery-images h2, .product-form h2{
	font-size: 86px;
	line-height: 86px;
	color: #000;
	font-weight: normal;
	background: url(../images/home_pro_hd_icon.png) no-repeat center bottom;
	padding: 0 0 17px;
	margin: 0 0 52px;
}
.contact-info h2 {
    text-align: center;
    margin-bottom: 32px;
}

.home-products ul{
	margin: 0;
	padding: 0;
}
.home-products ul li{
	width: 372px;
	margin: 0 42px 70px 0;
	float: left;
	background-color: #FFF;
	-webkit-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.home-products ul li:nth-child(3n){
	margin-right: 0;
}
.home-products ul li:hover{
	-webkit-box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.2);
}
.home-products ul li .image, .product-section .product-blocks ul li .image{
	background-color: #f1f1f1;
	overflow: hidden;
}
.home-products ul li .image img, .product-section .product-blocks ul li .image img{
	margin: 0 auto;
	max-width: 100%;
}
.home-products ul li .detail, .product-section .product-blocks ul li .detail{
	padding: 34px 25px 44px;
	position: relative;
}
.home-products ul li .detail:before, .product-section .product-blocks ul li .detail:before{
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: -52px;
	width: 104px;
	height: 104px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: block;
	content: '';
	background: url(../images/home_pro_icon.png) no-repeat center 12px #FFF;
}
.home-products ul li h4, .product-section .product-blocks ul li h5{
	color: #046402;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-family: 'Nunito Sans', sans-serif;
	margin: 0 0 4px;
	position: relative;
	z-index: 1;
}
.home-products ul li h4 a, .product-section .product-blocks ul li h5 a{
	color: #046402;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.home-products ul li:hover h4 a, .product-section .product-blocks ul li:hover h5 a{
	color: #000;
}
.home-products ul li p, .product-section .product-blocks ul li p{
	font-size: 17px;
	line-height: 25px;
	font-weight: 300;
	margin: 0 0 28px;
	position: relative;
	z-index: 1;
}
.home-products ul li .btn, .product-section .product-blocks ul li .btn{
	font-size: 13px;
	line-height: 32px;
	padding: 0 34px;
	background-color: #046402;
	color: #FFF;
	font-weight: 600;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	display: inline-block;
	vertical-align: top;
}
.home-products ul li:hover .btn, .product-section .product-blocks ul li:hover .btn{
	background-color: #000;
}
.view-btn{
	font-size: 17px;
	font-weight: 800;
	color: #FFF;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
	line-height: 53px;
	padding: 0 65px;
	background-color: #028800;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.view-btn:hover{
	background-color: #000;
}
.view-btn.res{
	display: none;
}

.our-story {
    padding-bottom: 67px;
}
.our-story p{
    font-size: 27px;
    line-height: 35px;
    font-weight: 300;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0 0 40px;
    color: #000000;
}
.our-story h3 {
    font-size: 66px;
    line-height: 66px;
    font-weight: normal;
    color: #028800;
    margin: 0 0 28px 0;
}
.quotebx{
	width: 590px;
	float: right;
	padding:60px 0;
	background-color: #109e0e;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
position: relative;
margin: 0 0 0 46px;
}
.quotebx:after{
	content:'';
	background:url(../images/quote-top.png) no-repeat 0 0;
	width: 83px;
	height: 64px;
	background-size: 100%;
	position:absolute;
	top:0;
	right:0;
}
.quotebx:before{
	content:'';
	background:url(../images/quote-btm.png) no-repeat 0 0;
	width: 83px;
	height: 64px;
	background-size: 100%;
	position:absolute;
	bottom:-1px;
	left:0;
}
.qtobxinr{
	padding: 0 53px;
}
.our-story .qtobxinr p{
	margin-bottom:0;
	font-size:30px;
	font-style:italic;
	font-weight:700;
	color:#fff;
	line-height:35px;

}

.our-story p.colorgrn{
	color: #0f650d;
}
/*content section end*/


/*contact section start*/
.bottom-contact{
	padding: 44px 0 73px;
	overflow: hidden;
	background: url(../images/bottom_contact_bg.jpg) no-repeat center 0;
	background-size: cover;
	background-attachment: fixed;
}
.bottom-contact h2{
	font-size: 54px;
	line-height: 54px;
	font-weight: normal;
	color: #FFF;
	margin: 0 0 18px;
}
.contact-info ul{
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.bottom-info{
	margin: 0;
	padding: 0;
}
.contact-info ul li {
    float: left;
    max-width: 315px;
    /* width: 254px; */
    margin: 0 22px 0 0;
    padding: 5px 22px 0 0;
    border-right: 1px solid rgba(255,255,255,.4);
    text-align: left;
}
.bottom-info li{
	padding: 0 0 0;
}
.bottom-info li:last-child, .contact-info ul li:last-child{
	padding-right: 0;
	margin: 0;
	border-right: none;
}
.bottom-info li img, .contact-info ul li img{
	float: left;
	margin: 5px 10px 0 0;
}
.bottom-info li p, .contact-info ul li p{
	font-size: 17px;
	line-height: 27px;
	color: #FFF;
	overflow: hidden;
}
.threestack .three ul li:first-child{
	padding-top:0;
}
.threestack .three ul li:first-child a p, .bottom-info li:last-child p{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.threestack.bottom-info .three:first-child ul li a:hover p, .threestack.bottom-info .three:first-child li:last-child:hover p{
	color:#10ba0c;
}

.threestack .three{
	float:left;
	width:33.2%;
	border-right: 1px solid #3d953c;
}
.threestack .three:last-child{
	border-right:none;
}
.threestack .three .innerpadding{
	padding:0 19px;
}
.threestack .three ul li{
	color: #fff;
	font-size:17px;
	line-height: 27px;
}
.threestack .three:first-child .innerpadding{
	padding-left: 0;
}
.threestack .three:last-child .innerpadding{
	padding-right: 0;
}
.threestack .three:last-child ul li a{
background: rgba(8,98,7,1);
background: -moz-linear-gradient(top, rgba(8,98,7,1) 0%, rgba(24,166,19,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(8,98,7,1)), color-stop(100%, rgba(24,166,19,1)));
background: -webkit-linear-gradient(top, rgba(8,98,7,1) 0%, rgba(24,166,19,1) 100%);
background: -o-linear-gradient(top, rgba(8,98,7,1) 0%, rgba(24,166,19,1) 100%);
background: -ms-linear-gradient(top, rgba(8,98,7,1) 0%, rgba(24,166,19,1) 100%);
background: linear-gradient(to bottom, rgba(8,98,7,1) 0%, rgba(24,166,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#086207', endColorstr='#18a613', GradientType=0 );
	color:#fff;
	font-size:16px;
	line-height: 39px;
	display: inline-block;
	width:308px;
	border:1px solid #fff;
	margin: 0 0 17px 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.threestack .three:last-child ul li a:hover{
	background: rgba(24,166,19,1);
background: -moz-linear-gradient(top, rgba(24,166,19,1) 0%, rgba(8,98,7,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(24,166,19,1)), color-stop(100%, rgba(8,98,7,1)));
background: -webkit-linear-gradient(top, rgba(24,166,19,1) 0%, rgba(8,98,7,1) 100%);
background: -o-linear-gradient(top, rgba(24,166,19,1) 0%, rgba(8,98,7,1) 100%);
background: -ms-linear-gradient(top, rgba(24,166,19,1) 0%, rgba(8,98,7,1) 100%);
background: linear-gradient(to bottom, rgba(24,166,19,1) 0%, rgba(8,98,7,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18a613', endColorstr='#086207', GradientType=0 );
}

.threestack .three:last-child ul li a p{
	line-height:42px;
	font-size:16px;
}
.threestack .three:last-child ul li a img{
	margin:9px 13px 9px 9px;
}

/*contact section end*/


/*footer section start*/
.footer{
	padding: 46px 0 22px;
	background-color: #181818;
	text-align: center;
	position: relative;
}
.footer:before{
	width: 96px;
	height: 96px;
	top: -41px;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: block;
	content: '';
	position: absolute;
	background-color: #181818;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.footer .wrapper{
	position: relative;
	z-index: 1;
}

.ftlogo {
    top: -69px;
    left: 0;
    right: 0;
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 52px;
}
.ftnav{
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
}
.ftnav li{
	display: inline-block;
	vertical-align: top;
	margin: 0 12px 0 0;
	font-size: 14px;
	line-height: 22px;
	color: #656565;
}
.ftnav li:last-child{
	margin: 0;
}
.ftnav li a, .footer p a{
	color: #bfbfbf;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.ftnav li a:hover, .ftnav li a.active{
	color: #FFF;
}
.footer p a{
	color: #ffffff;
}
.footer p a:hover{
	color: #bfbfbf;
}
.footer p{
	font-size: 14px;
	line-height: 22px;
	color: #bfbfbf;
}
/*footer section end*/


/*about page start*/
.banner.inner-banner .rslides .wrapper{
	bottom: 24%;
	text-align: center;
}
.banner.inner-banner h1 {
    font-family: 'Sacramento', cursive;
    color: #FFF;
    font-size: 86px;
    line-height: 86px;
    font-weight: normal;
    text-transform: none;
    margin: 0;
	display: inline-block;
	position: relative;
	padding: 0 135px;
}
.banner.inner-banner h1:after, .banner.inner-banner h1:before{
	top: 0;
	bottom: 0;
	display: block;
	content: '';
	position: absolute;
	width: 112px;
}
.banner.inner-banner h1:after{
	background: url(../images/inner_banner_hdright.png) no-repeat 0 center;
	right: 0;
}
.banner.inner-banner h1:before{
	background: url(../images/inner_banner_hdleft.png) no-repeat 0 center;
	left: 0;
}
.about-section{
	padding: 53px 0;
	position: relative;
	overflow: hidden;
}

.about-section{
	text-align:center;
}
.about-section h2{
	text-align: center;
}
.about-section h3 {
    font-size: 66px;
    line-height: 66px;
    font-weight: normal;
    color: #028800;
    margin: 0 0 28px 0;
}

.about-section .wrapper{
	position: relative;
	z-index: 1;
}
.about-text {
    width: 640px;
    float: left;
    text-align: left;
}
.about-text h6, .about-text p{
	font-size: 27px;
	line-height: 35px;
	font-weight: 300;
	font-family: 'Nunito Sans', sans-serif;
	margin: 0 0 40px;
	color: #000000;
}
.about-text h6 span{
	color: #419f28;
	font-family: 'Papyrus-Regular';
}
.about-text p span{
	font-family: 'Papyrus-Regular';
}
.about-pic {
    margin: 60px 92px 0 0;
    float: right;
    width: 372px;
    background-color: #FFF;
    border: 15px solid #FFF;
}
.about-pic img{
	width: 100%;
	-webkit-box-shadow: 0px 3px 2px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 3px 2px 0px rgba(0,0,0,1);
box-shadow: 0px 3px 2px 0px rgba(0,0,0,1);
}
.about-back {
    top: 205px;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    background: url(../images/about_pic1.jpg) no-repeat center 0;
    /* background-size: cover; */
    width: 33.4%;
}
.about-section .view-btn{
	margin-top:10px;
}


.testimonial{
	padding: 87px 0 78px;
	background:url(../images/testi_bg.jpg) no-repeat center 0;
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}
.testimonial h2{
	font-size: 86px;
	line-height: 86px;
	color: #FFF;
	font-weight: normal;
	background: url(../images/testi_hd_icon.png) no-repeat center bottom;
	padding: 0 0 17px;
	margin: 0 0 38px;
}
.testimonial p{
	margin: 0 90px 20px;
	font-size: 26px;
	line-height: 36px;
	color: #FFF;
	font-weight: 300;
	padding: 54px 0 0;
	background: url(../images/tseti_quote.png) no-repeat center 0;
}
.testimonial p strong{
	font-weight: 600;
}
.testi-img{
	margin: 0 auto;
	width: 122px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.testimonial h6{
	font-size: 26px;
	line-height: 30px;
	color: #FFF;
	font-style: italic;
	font-family: 'Nunito Sans', sans-serif;
	margin: 15px 0 0;
}
.testimonial .bx-has-pager{
	overflow: hidden;
	padding: 36px 0 0;
}
.gallery-section{
	padding: 100px 0 90px;
	overflow: hidden;
	text-align: center;
	background: url(../images/home_pro_bg.jpg) repeat 0 0;
}
.gallery-section h2{
	padding: 0 0 27px;
	margin: 0 0 5px;
}
.about-gallery{
	/*overflow: hidden;*/
	margin: 0;
	padding: 20px 6px 52px;
}
.about-gallery li{
	width: 16.6666%;
	float: left;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	position: relative;
}
.about-gallery li:hover{
	-moz-transform: scale(1.25);
	-webkit-transform: scale(1.25);
	-o-transform: scale(1.25);
	-ms-transform: scale(1.25);
	transform: scale(1.25);
	z-index: 1;
}
.about-gallery li .block{
	margin: 0 6px;
	position: relative;
}
.about-gallery li img{
	width: 100%;
}
.display-table{
	position: absolute;
	width: 100%;
	height: 100%;
	display: table;
}
.display-tablecell{
	display: table-cell;
	vertical-align: middle;
}
.about-gal-textwrap{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border: 13px solid rgba(255,255,255,0);
}
.about-gallery li:hover .about-gal-textwrap{
	border: 13px solid rgba(255,255,255,1);
	opacity: 1;
}
.about-gal-text{
	width: 70%;
	padding: 24px 15px 21px;
	background-color: #FFF;
	overflow: hidden;
	margin: 0 auto;
}
.about-gal-text p{
	font-size: 13px;
	line-height: 17px;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0 0 6px;
}
.about-gal-text .btn{
	display: inline-block;
	vertical-align: top;
	font-size: 10px;
	color: #FFF;
	font-weight: 700;
	line-height: 26px;
	padding: 0 26px;
	text-transform: uppercase;
	background-color: #046402;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.about-gal-text .btn:hover{
	background-color: #000;
}
.about-gallery li:hover .block{
	-webkit-box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.3);
}
/*about page end*/


/*gallery page start*/
.gallery-images{
	text-align: center;
	position: relative;
	z-index: 1;
	padding: 54px 0 0 0;
}
.gallery-images .about-gallery{
	margin: 0;
}
.gallery-images .about-gallery li .block{
	margin: 6px;
}
.fancybox-wrap{
	width: 800px !important;
}
.fancybox-skin{
	padding: 10px !important;
}
.loading{
	display:inline-block;
	padding: 0 45px;
	margin: 53px 0 78px 0;
	background-color: #028800;
}
.loading img, .loading p{
    display: inline-block;
    vertical-align: middle;
}
.loading p{
	margin:0;
	line-height: 53px;
	color:#fff;
	text-transform: uppercase;
	font-weight:700;
}
.loading img{
	margin:0 8px 0 0;
}
/*gallery page end*/


/*product detail page start*/
.product-form {
    padding: 56px 0 27px;
    overflow: hidden;
}
.product-form h2{
	text-align:center;
}
.pro-form-field{
	width: 40%;
	float: left;
}
.product-form label{
	font-size: 18px;
	line-height: 42px;
	font-weight: 600;
	display: block;
	float: left;
	color: #0c0c0c;
	margin: 0 8px 0 0;
}
.pro-form-select{
	overflow: hidden;
}
.pro-form-select select {
	font-size: 15px;
	height: 42px;
	font-family: 'Nunito Sans', sans-serif;
	width: 95%;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	outline: 0!important;
	background: url(../images/pro_select_ar.png) right center no-repeat;
	color: #0c0c0c;
	border: 1px solid #cacccb;
}
.pro-form-select select:focus {
	outline: 0
}
.pro-form-select select::-ms-expand {
 	display:none
}
.product-form input[type=submit]{
	width: 20%;
	float: left;
	text-align: center;
	display: block;
	background-color: #027000;
	font-size: 16px;
	height: 42px;
	font-weight: 700;
	color: #FFF;
	font-family: 'Nunito Sans', sans-serif;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
}
.product-form input[type=submit]:hover{
	background-color: #000;
}
.product-section {
    padding: 70px 0 50px;
    overflow: hidden;
    background: url(../images/home_pro_bg.jpg) repeat 0 0;
}
.pro-breadcrumb{
	overflow:hidden;
}
.pro-breadcrumb li {
    float: left;
    line-height: 40px;
    margin: 0 6px 0 0;
    font-size: 18px;
    font-weight: 600;
}
.pro-breadcrumb li.active {
    background-color: #027000;
    line-height: 40px;
    padding: 0 23px 0 20px;
    color: #fff;
    font-size: 16px;
    position: relative;
    margin: 0 25px 0 0px;
    text-transform: uppercase;
}
.pro-breadcrumb li.active:after{
	content:'';
	width:13px;
	height: 40px;
	background:url(../images/arw.png) no-repeat 0 0;
	position: absolute;
	top:0;
	    right: -13px;
}
.product-left {
    width: 790px;
    float: left;
}
.product-right {
    width: 370px;
    float: right;
    margin: 10px 0 30px;
}
.product-section h2{
	color: #028800;
	font-size: 66px;
	line-height: 66px;
	font-weight: normal;
	margin: 0 0 36px;
}
.product-section p{
	font-size: 17px;
	line-height: 25px;
	font-weight: 300;
	margin: 0 0 25px;
}
.product-section ul{
	margin: 0 0 25px;
	padding: 0;
	/*overflow: hidden;*/
}
.product-section ul li{
	padding: 0 0 0 22px;
	background: url(../images/pro_listing.png) no-repeat 0 5px;
	line-height: 25px;
	font-size: 17px;
	margin: 0 0 15px;
	font-weight: 300;
}
.product-section ul li:last-child{
	margin: 0;
}
.product-section .view-btn{
	margin: 46px 0 30px;
}
.product-right h4{
	color: #FFF;
	text-transform: uppercase;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 20px;
	font-weight: 800;
	line-height: 28px;
	padding: 15px 26px;
	background-color: #027000;
}
.product-section ul.pro-category{
	margin: 0;
	-webkit-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.1);
	background-color: #FFF;
	padding: 24px 26px 17px;
}
.product-section ul.pro-category li{
	margin: 0;
	background-position: 5px 13px;
	border-bottom: 1px solid #e8e8e8;
	background-image: none;
	padding:0;
}
.product-section ul li{
	padding: 0 0 0 22px;
	
	line-height: 25px;
	font-size: 17px;
	margin: 0 0 15px;
	font-weight: 300;
}
.product-section ul.pro-category li ul li a {
    background-image: none;
    padding-left: 0;
}

.pro-breadcrumb li a{
	color:#0c0c0c;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.pro-breadcrumb li a:hover{
	color:#027000;
}




.product-section ul.pro-category li:last-child{
	border-bottom: none;
}
.product-section ul.pro-category li a{
	color:#222323;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	display: block;
	padding: 8px 0 8px 30px;
	background: url(../images/pro_listing.png) no-repeat 7px 12px;
	font-weight:600;
}
.product-section ul.pro-category li a:hover, .product-section ul.pro-category li a.active{
	color: #fff;
	background: url(../images/pro_listing_hv.png) no-repeat 7px 12px #027000;
}


.product-section ul.pro-category li ul {
    box-shadow: none;
    padding: 0 0 2px 50px;
    margin: 0;
	    border-top: 1px solid #e8e8e8;
}
.product-section ul.pro-category li ul li ul{
	padding:0 0 2px 25px;
	border-top: none;
}
.product-section ul.pro-category li ul li{
	font-size: 15px;
	line-height: 22px;
	font-weight: 700;
	border: none;
	padding: 0 0 0 12px;
	background: url(../images/pro_cat_dot.png) no-repeat 0 15px;
	position:relative;
}
.product-section ul.pro-category li ul li ul li:after{
	position:absolute;
	content:'';
	right:0;
	left: -84px;
	bottom:0;
	background-color: #e8e8e8;
	height:1px;
}
.product-section ul.pro-category li ul li ul li:first-child:before{
	position:absolute;
	content:'';
	right:0;
	left: -84px;
	top:0;
	background-color: #e8e8e8;
	height:1px;
	bottom: auto;
}
.product-section ul.pro-category li ul li ul li{
	background: url(../images/pro_cat_dot_in.png) no-repeat 0 18px;
}
.product-section ul.pro-category li ul li ul li a{
	color: #4a4a4a;
	font-size:14px;
	padding: 10px 0;
}

.product-section ul.pro-category li ul li a{
	color: #027000;
}
.pro-slider{
	overflow: hidden;
	padding: 8px 0 37px;
	width: 734px;
}
.product-section .pro-slider ul{
	margin: 0;
}
.product-section .pro-slider ul li{
	padding: 0;
	margin: 0;
	background: none;
}
.product-section ul.pro-category li ul li a:hover{
	color: #027000;
	background: transparent;
}
.pro-slider .connected-carousels .stage{
	width:734px !important;
	margin:0 0 20px !important;
}
.pro-slider .connected-carousels .carousel li{
	width: 734px;
	height: 399px;
	background-size: cover !important;
}
.pro-slider .connected-carousels .carousel li.pic1{
	background: url(../images/pro_detail_pic.jpg) no-repeat center 0;
}
.pro-slider .connected-carousels .carousel li.pic2{
	background: url(../images/pro_thumb1.jpg) no-repeat center 0;
}
.pro-slider .connected-carousels .carousel li.pic3{
	background: url(../images/pro_thumb2.jpg) no-repeat center 0;
}
.pro-slider .connected-carousels .carousel li.pic4{
	background: url(../images/pro_thumb3.jpg) no-repeat center 0;
}
.pro-slider .connected-carousels .carousel li.pic5{
	background: url(../images/pro_thumb4.jpg) no-repeat center 0;
}
.pro-slider .connected-carousels .navigation{
	margin:0 auto !important;
	width:612px !important;
	padding:0;
	float: none;
}
.pro-slider .connected-carousels .carousel-navigation{
	width:612px !important;
	height:127px !important;
	border-radius:0 !important;
	border:none !important;
}
.pro-slider .connected-carousels .carousel-navigation li{
	margin:0 20px 0 0;
	position:relative;
	background-size: cover !important;
	width: 138px;
	height: 117px;
}
.pro-slider .connected-carousels .carousel-navigation ul{
	padding: 0 0 10px;
}
.pro-slider .connected-carousels .carousel-navigation li.active{
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.29);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.29);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.29);
}
.pro-slider .stage .prev, .pro-slider .stage .next{
	display:none;
}
.pro-slider .connected-carousels .carousel-navigation li.pic1{
	background: url(../images/pro_detail_pic.jpg) no-repeat center 0;
}
.pro-slider .connected-carousels .carousel-navigation li.pic2{
	background: url(../images/pro_thumb1.jpg) no-repeat center 0;
}
.pro-slider .connected-carousels .carousel-navigation li.pic3{
	background: url(../images/pro_thumb2.jpg) no-repeat center 0;
}
.pro-slider .connected-carousels .carousel-navigation li.pic4{
	background: url(../images/pro_thumb3.jpg) no-repeat center 0;
}
.pro-slider .connected-carousels .carousel-navigation li.pic5{
	background: url(../images/pro_thumb4.jpg) no-repeat center 0;
}
/*product detail page end*/


/*product page start*/
.product-blocks{
	padding: 0 0 6px;
}
.product-section .product-blocks h2{
	float: left;
	margin: 0 0 26px;
}
.view-pro-btn{
	float: right;
	font-size: 14px;
	font-weight: 800;
	line-height: 38px;
	padding: 0 20px;
	color: #027000;
	border: 1px solid #027000;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	text-transform: uppercase;
	margin: 12px 0 0;
}
.view-pro-btn:hover{
	background-color: #027000;
	color: #FFF;
}
.product-section .product-blocks ul{
	margin: 0;
	text-align: center;
	overflow: visible;
}
.product-section .product-blocks ul li{
	width: 374px;
	margin: 0 42px 70px 0;
	float: left;
	background: #FFF;
	-webkit-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding: 0;
}
.product-section .product-blocks ul li:nth-child(2n){
	margin-right: 0;
}
.product-section .product-blocks ul li:hover{
	-webkit-box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.2);
}
.product-section.single-sub .product-right{
	margin-top:0;
}
/*product page end*/


/*contact page start*/
.contact-info{
	padding: 55px 0;
	overflow: hidden;
}
.contact-info ul li p{
	color: #000;
}
.contact-info ul li{
	border-right: 1px solid #999999;
}
.contact-form-section{
	padding: 80px 0 90px;
	overflow: hidden;
	position: relative;
	background: url(../images/contact_form_bg.jpg) repeat 0 0;
}
.contact-pic{
	width: 50%;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	background-size: cover !important;
	background: url(../images/contact_pic.jpg) no-repeat center 0;
}
.contact-form-section .wrapper{
	position: relative;
	z-index: 1;
}
.contact-form{
	width: 535px;
	float: right;
}
.contact-form h2{
	font-size: 60px;
	line-height: 60px;
	color: #FFF;
	font-weight: normal;
	padding: 0 0 37px;
	background: url(../images/testi_hd_icon.png) no-repeat 0 bottom;
	margin: 0 0 22px;
}
.contact-form h2 span{
	font-family: 'Nunito Sans', sans-serif;
	display: block;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	font-weight: 700;
}
.contact-form label{
	font-size: 18px;
	color: #FFF;
	line-height: 24px;
	display: block;
	margin: 0 0 8px;
}
.contact-field{
	margin: 0 0 10px;
	padding: 0 15px;
	background-color: #FFF;
	overflow: hidden;
}
.contact-form input[type=text]{
	border: none;
	font-family: 'Nunito Sans', sans-serif;
	font-size:16px;
	color:#222323;
	height: 54px;
	width: 100%;
}
.contact-form textarea{
	border: none;
	font-family: 'Nunito Sans', sans-serif;
	font-size:16px;
	color:#222323;
	height: 54px;
	width: 100%;
	height: 115px;
	padding: 16px 0;
	resize: none;
}
.captcha{
	overflow: hidden;
	margin: 20px 0 40px;
}
.contact-form input[type=submit]{
	border: none;
	font-family: 'Nunito Sans', sans-serif;
	font-size:17px;
	color:#027000;
	font-weight: 800;
	text-transform: uppercase;
	height: 53px;
	padding: 0 75px;
	display: block;
	cursor: pointer;
	background-color: #FFF;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.contact-form input[type=submit]:hover{
	background-color: #000;
	color: #FFF;
}
.contact-map{
	height: 470px;
}
.contact-map #map{
	height: 100%;
	width: 100%;
}
/*contact page end*/




